<!DOCTYPE html>
<html lang="es">

    <%- include('./partials/head',{
        title : 'Editar producto'
    })  %> 


<body class="home-body">

    <%- include('./partials/header') %>

<main class="productEdit">
    
    <section>
        <h2>Editar Producto : <%= product.title %></h2>
        <div class="productEdit__form">
            <form method="POST" action="/products/productEdit/<%= product.id %>/?_method=PUT" enctype="multipart/form-data">
                <article>
                    <div>
                        <label for="name">Nombre: <%= product.title %></label>
                        <input type="text" id="title" name="title" value="<%= product.title %>" required placeholder="<%= product.title %>">
                    </div>
                    <div>
                        <label for="price">Precio: $<%= product.price %></label>
                        <input type="number" id="price" name="price" value="<%= product.price %>" required placeholder="<%= product.price %>">
                    </div>
                    <div>
                        <label for="category">Categoria: <%= categories.id %></label>
                        <select <%= locals.errors && errors.category ? 'is-invalid' : null%> name="category" id="category" value="<%= product.category %>" required>
                            <option value="<%= categories.title %> " hidden selected>Selecciona la categoría</option>
                            <% categories.forEach(category => { %>
                            <option <%= locals.old && old.category && +old.category === +category.id ? 'selected' : null %>  value="<%= category.title %>"><%= category.title %></option>
                            <% }) %>
                        </select>
                        <span><%= locals.errors && errors.category ? errors.category.msg : null%></span>
                    </div>
                    <div>
                        <label for="quantity">Stock: </label>
                        <input type="number" id="quantity" name="quantity" value="<%= product.quantity %>" required placeholder="<%= product.quantity %>">
                    </div>
                    <div>
                        <div id="imagePreview">
                            <img src="/images/Alimento-balanceado/<%= product.images[0].name %>" alt="">
                        </div>
                        <label for="image">Imagen: <%= product.images[0].name %></label>
                        <input type="file" id="image" name="image" accept="image/*">
                    </div>             
                    <article class="productEdit__form__bottons">
                        <div><button type="reset">Limpiar</button></div>
                        <div><button type="submit">Guardar</button></div>
                    </article>
                </article>    
            </form>
        </div>
    </section>

</main>

    
    <%- include('./partials/footer') %>

</body>
</html>
