<!DOCTYPE html>
<html lang="en" class="body_productos">

    <%- include('./partials/head') %>
    
<body class="body_productos">

    <%- include('./partials/header') %>
    
<main>
    
    <section class="productos"> 
        <h1>Productos</h1>
            <div class="product-mas-relevante">
                <p>Más relevante</p>
                <i class="fa-solid fa-angle-down"></i>
            </div>

        <nav class="products-productos">

            <% products.forEach(({name, image, price, description}) => { %> 

            <article>
                <a href="/products/productDetail">
                    <div>
                        <img src="/images/alimento-balanceado/perros/<%= image %>" alt="">
                    </div>
                    <p><%= name %></p>
                    <p>$<%= price %></p>
                    <p><%= description %></p>
                </a>
                
                <form action="" method="get">
                    <input type="button" value="agregar a carrito">
                </form>
            </article> 
            <% }) %>

        </nav>

    </section>

    <section>
        <article class="producto_pag_1">
           <i class="fa-solid fa-circle-arrow-left fa-2x"></i>
                <p>Pág 1</p>
            <i class="fa-solid fa-circle-arrow-right fa-2x"></i>    
        </article>
    </section>

</main>

    <%- include('./partials/footer') %>

</body>
</html>