<!DOCTYPE html>
<html lang="es">

    <%- include('./partials/head',{
        title : 'Nuevo producto'
    })  %> 


<body class="home-body">

    <%- include('./partials/header') %>

    <main class="login-main"> 

        <section>
            <div>
                <h2>Agregar Producto</h2>
            </div>

    
            <div class="productAdd__form" >
                <form method="POST" action="" enctype="multipart/form-data">
                    <article>
                        <div>
                            <label for="name">Nombre del producto</label>
                            <input type="text" id="name" name="name" required>
                        </div>
                        <div>
                            <label for="price">Precio</label>
                            <input type="number" id="price" name="price" required>
                        </div>
                        <div>
                            <label for="category">Categorías</label>
                            <select <%= locals.errors && errors.category ? 'is-invalid' : null%> name="category" id="category" required>
                                <option value="" hidden selected>Selecciona la categoría</option>
                              <% categories.forEach(category => { %>
                                <option <%= locals.old && old.category && +old.category === +category.id ? 'selected' : null %>  value="<%= category.id %>"><%= category.name %></option>
                              <% }) %>
                            </select>
                            <span><%= locals.errors && errors.category ? errors.category.msg : null%></span>
                        </div>  
                        <div>
                            <label for="image">Imagen</label>
                            <input type="file" id="image" name="image" accept="image/*">
                        </div>  
                        <article class="productAdd__form__bottons">
                            <div><button type="reset">Limpiar</button></div>
                            <div><button type="submit">Guardar</button></div>
                        </article> 
                </article>
                </form>
            </div>
        </section>
    </main>

    
    <%- include('./partials/footer') %>

</body>
</html>







    
    
</body>
</html>