<!DOCTYPE html>
<html lang="es">

    <%- include('./partials/head') %>

<body>
    
    <%- include('./partials/header') %>
    
<main>
    
    <nav class="detail-nav">
        
        <article style="margin-top: 2vw;"> 
            <a class="navegacion" href="/">Inicio</a>
            <a class="navegacion" href="/products">Productos</a>
            <p class="navegacion"><%= product.title %></p>
        </article> 

        <% if (locals.userLogin && locals.userLogin.rol === 1) { %> 
        <article>
            <a href="/products/productAdd" style="margin-left: 2vw; color: var(--marron);">
                <i class="fa-solid fa-circle-plus fa-2x"></i>
            </a>  
            <a href="/products/productEdit/<%= product.id %>" style="margin-left: 2vw; color: var(--marron);">
                <i class="fa-solid fa-pen-to-square fa-2x"></i>
            </a>  
            <form action="/products/productDetail/remove/<%= product.id %>?_method=DELETE" method="POST">
                <button type="submit" style="border: none;">
                    <i class="fas fa-trash-alt fa-2x"></i>
                </button>
            </form>
        </article>
        <% } %>
    </nav>

        <div class="detail-conjunto" class="detail-conjunto card mb-3 w-100 h-100">
            <div class="detail-producto">
                <div class="detail-producto-imgs">
                    <% product.images.forEach(({name}) => { %>
                        <img class="detail-producto-img" src="/images/Alimento-balanceado/<%= name %>" class="img-fluid rounded-start" alt="...">
                        <% }) %>
                </div>
                <div class="detail-detalle" class="col-md-8">
                    <div class="detail-detalle-title">
                        <h5 class="card-title text-center"><%= product.title %></h5>
                    </div>
                    <div class="detail-detalle-descript">
                        <span><%= product.descript %></span>
                    </div>
                    <div class="detail-detalle-conjunto">
                        <div id="detail-weight">
                            <h5>Peso</h5>
                            <span><%= product.weight %> kg</span>
                        </div>
                        <div id="detail-stock">
                            <h5>Stock</h5>
                            <span><%= product.quantity %> </span>
                        </div>
                        
                    </div>
                </div>
            </div>
            <div class="detail-comprar-botons">
                <div id="detail-price">
                    <span>$ <%= product.price %></span>
                </div>
                <div class="detail-comprar-boton">
                    <a class="detail-comprar-boton-a" href="/products/productCart"><span class="detail-comprar-span"><i class="fa-solid fa-hand-holding-dollar"></i> Comprar</span></a>
                </div>
                <div class="detail-comprar-boton">                     
                    <form class="" action="" method="get">
                        <i id="btn-add-card" onclick="addCart('<%=product.id%>')" class="fa-solid fa-cart-plus" > Agregar</i>
                    </form>  
                </div>
            </div>
        </div>
</main>
<script src="/javascript/cart.js"></script>
    <%- include('./partials/footer') %>

</body>
</html>