<!DOCTYPE html>
<html lang="es">

    <%- include('./partials/head') %>

<body class="home-body">

    <%- include('./partials/header') %>

    <main class="login-main"> 

            <section>

                <h2>Editar Producto: <%= alimentos.name %></h2>
                <hr>

                <form method="" action=""<%= alimentos.id %>>

                    <article>

                    <div>
                        <label for="name">Nombre del producto</label>
                        <input type="text" id="name" name="name" value="<%= alimentos.name %>">
                    </div>

                    <div>
                        <label for="price">Precio</label>
                        <input type="number" id="price" name="price" value="<%= alimentos.price %>">
                    </div>
    
                    <div>
                            <label for="alimentos">Alimentos</label>
                            <select name="alimentos" id="alimentos">
                                <% alimentos.forEach(alimento => { %>
                                  <option value="<%= alimentos.id %>" <%= alimentos.id ? 'selected' : null %>><%= alimentos.name %></option>
                                <% }) %>
                            </select>
                    </div>
    
                </article>
    
                        <button type="reset">Limpiar</button>
                        <button type="submit">Guardar</button>
    
                    </div>
                </form>
            </section>
    
        </main>
    
    <%- include('./partials/footer') %>

</body>
</html>