<!DOCTYPE html>
<html lang="en">

    <%- include('./partials/head') %>

<body class="carrito_body">

    <%- include('./partials/header') %>

<main>

    <h1 class="cart-title">Carrito de compras</h1>
    
    <section class="cart-tarjets">
        <% product.forEach(({title,price,descript,images}) => { %>
            <article class="cart-tarjet">
                <div class="cart-tarjet-img">
                    <% images.forEach(({name}) => { %>
                        <img src="/images/Alimento-balanceado/<%= name %>" alt="">
                    <% }) %> 
                </div>
                <div class="cart-tarjet-title">
                    <h6><%= title %></h6>
                </div>
                <div class="cart-tarjet-price">
                    <p><%= price %> $</p>
                </div>
            </article>
        <% }) %>

        <article class="cart-tarjet">
            <div class="cart-tarjet-img">
                <img src="/images/avatars/Logo.png" alt="">
            </div>
            <div class="cart-tarjet-options">
                 <input type="checkbox" name="" id="">
                 <option value="">a</option>
            </div>
            <div class="cart-tarjet-option-2">
                <p>codigo postal:</p>
            </div>
        </article>

        <article class="cart-tarjet">
            <div class="cart-tarjet-img">
                <img src="/images/avatars/Logo.png" alt="">
            </div>
            <div class="cart-tarjet-options">
                <h6><option value="">???</option></h6>
            </div>
            <div class="cart-tarjet-price-total">
                <p>total a pagar: ???</p>
            </div>
        </article>
    </section>
    
    <section>
        <div class="cart-botton-comprar"> 
            <button>comprar</button>
        </div>
        
        <div class="cart-ver-mas"> 
            <a href="/products"><p>ver más productos</p></a>
        </div>
    </section>
        
    
    
    <!-- <nav class="tabla-carrito"> 
        <table class="cart-table">
            <tr>
                <th>Nombre</th>
                <th>Producto</th>
                <th>Detalles de producto</th>
                <th>Precio</th>
            </tr>
                <tr>
                    <td></td>                 
                        <td class="tabla-img-td">
                                 
                        </td>
                                                       
                    <td></td>
                    <td></td>
                </tr>
            
        </table>
    </nav>
    <nav class="tabla-carrito-2">
        <section class="cart-end-section-table">
            <table class="cart-end-of-table">     
                <tr>
                    <th>Total a pagar</th>
                    <th><a href="">Finalizar compra</a></th>
                </tr>
            </table>
        </section>
        
    </nav> -->

</main>

    <%- include('./partials/footer') %>

</body>
</html>