<!DOCTYPE html>
<html lang="es">

    <%- include('./partials/head',{
        title : 'Editar producto'
    })  %> 


<body class="home-body">

    <%- include('./partials/header') %>

<main class="productEdit">
    
    <section>
        <h2 class="profile-title">Editar Producto : <%= product.title %></h2>
        <section class="section-profile-prod-users">
        <div style="display: flex; flex-direction: row; justify-content: space-around;">
            <a href="/users/profile">
                <i class="fa-solid fa-circle-left"> Volver al perfil</i>
            </a> 
            <a href="/products/productAdd">
                <i class="fa-solid fa-circle-plus"> Agregar productos</i>
            </a> 
            <a href="/users/list">
                <i class="fa-solid fa-circle-right"> Editar usuarios</i>
            </a> 
        </div>   
        <div class="productEdit__form">
            <form id="product__edit-form" method="POST" action="/products/productEdit/<%= product.id %>/?_method=PUT" enctype="multipart/form-data">
                <article>
                    <div>
                        <label for="title">Nombre: </label>
                        <input type="text" id="title" name="title" value="<%= product.title %>" required placeholder="<%= product.title %>">
                        <small class="front-errors" id="small__product__title-edit"></small>
                    </div>
                    <div>
                        <label for="price">Precio: </label>
                        <input type="number" id="price" name="price" value="<%= product.price %>" required placeholder="<%= product.price %>">
                        <small class="front-errors" id="small__product__price-edit"></small>
                    </div>
                    <div>
                        <label for="category">Categoria: </label>
                        <select name="category">
                            <option hidden selected value="<%= product.id_category %>">
                                <%= product.category.title %> 
                            </option>
                            <% category.forEach(({id, title}) => { %>
                            <option <%= locals.old && old.category && +old.category === +id ? 'selected' : null %> value="<%= id %>"><%= title %></option>
                            <% }) %>
                        </select>
                        <span><%= locals.errors && errors.category ? errors.category.msg : null%></span>
                        <small class="front-errors" id="small__product__category-edit"></small>
                    </div>
                    <div>
                        <label style="display: flex; flex-direction: column;" for="description">Descripción: </label>
                        <input type="text" id="descript" name="descript" style="width: 100%; height: 10vw;" value="<%= product.descript %>" required placeholder="<%= product.descript %>">
                        <small class="front-errors" id="small__product__description-edit"></small>
                    </div>
                    <div>
                        <label for="weight">Peso: </label>
                        <input type="number" id="weight" name="weight" required placeholder="<%= product.weight %>">
                        <small class="front-errors" id="small__product__weight-edit"></small>
                    </div>
                    <div>
                        <label for="quantity">Stock: </label>
                        <input type="number" id="quantity" name="quantity" value="<%= product.quantity %>" required placeholder="<%= product.quantity %>">
                        <small class="front-errors" id="small__product__quantity-edit"></small>
                    </div>
                    <div>
                        <div id="imagePreview">
                            <img id="image-preview" src="/images/Alimento-balanceado/<%= product.images[0].name %>" alt="">
                        </div>
                        <label for="image">Imagen: <%= product.images[0].name %></label>
                        <input type="file" id="image" name="image" accept="image/*">
                        <small class="front-errors" id="small__product__image-edit"></small>
                    </div>           
                    
                    <article class="productEdit__form__bottons">
                        <div><button type="reset">Limpiar</button></div>
                        <div><button type="submit">Guardar</button></div>
                        
                    </article>
                    <small class="front-errors-global"></small>  
                </article>    
            </form>
        </div>
    </section>

</main>

    
    <%- include('./partials/footer') %>
<script src="/javascript/validations/productEdit.js"></script>
</body>
</html>
