<!DOCTYPE html>
<html lang="en">

    <%- include('./partials/head') %>

<body class="carrito_body">

    <%- include('./partials/header') %>

<main>
    <h1 class="cart-title">Carrito de compras</h1>
    
    <nav class="tabla-carrito"> 
        <table class="cart-table">
            <tr>
                <th>Nombre</th>
                <th>Producto</th>
                <th>Detalles de producto</th>
                <th>Precio</th>
            </tr>

            <% products.forEach(({name, image, price, description}) => { %>
                <tr>
                    <td><%= name %></td>                 
                    <td class="tabla-img-td">
                        <img src="/images/Alimento-balanceado/<%= image %>" alt="">
                    </td>                    
                    <td><%= description %></td>
                    <td><%= price %></td>
                </tr>
            <% }) %>
        </table> 

        <section class="cart-end-section-table">
            <table class="cart-end-of-table">     
                <tr>
                    <th>Total a pagar</th>
                </tr>

                <tr>
                    <th><a href="">Finalizar compra</a></th>
                </tr>
            </table>
        </section>
        
    </nav>

    <nav>
        <h2 class="cart-title-relaciondos">Productos relacionados</h2>
        
        <section class="productos_relacionados">
            <div>
                <i class="fa-solid fa-circle-arrow-left fa-2x"></i>
            </div>

            <article>
                <a href="/products/productDetail/1">
                    <div>
                        <img src="/images/productos_jpg/raza_1.jpg" alt="producto">
                    </div>

                    <p>producto-1</p>
                    <p>precio 000$</p>
                </a>
                
                <form action="" method="get">
                    <input type="button" value="agregar a carrito">
                </form>
            </article>

            <article>
                <a href="/products/productDetail/2">
                    <div>
                        <img src="/images/productos_jpg/raza_1.jpg" alt="producto">
                    </div>

                    <p>producto-1</p>
                    <p>precio 000$</p>
                </a>
                
                <form action="" method="get">
                    <input type="button" value="agregar a carrito">
                </form>
            </article>

            <article>
                <a href="/products/productDetail/3">
                    <div>
                        <img src="/images/productos_jpg/raza_1.jpg" alt="producto">
                    </div>

                    <p>producto-1</p>
                    <p>precio 000$</p>
                </a>
                
                <form action="" method="get">
                    <input type="button" value="agregar a carrito">
                </form>
            </article>

            <div>
                <i class="fa-solid fa-circle-arrow-right fa-2x"></i>
            </div>
        </section>

        <div class="cart-ver-mas"> 
            <a href="/products"><p>ver más productos</p></a>
        </div>
    </nav>
</main>

    <%- include('./partials/footer') %>

</body>
</html>