<!DOCTYPE html>
<html lang="es">

    <%- include('./partials/head',{
        title : 'Editar producto'
    })  %> 


<body class="home-body">

    <%- include('./partials/header') %>

    <main class="login-main"> 

        <section>
            <div>
                <h2>Editar Producto : <%= product.name %></h2>
            </div>

        
            <div class="form__productAdd">
                 <form method="POST" action="/products/productEdit/<%= product.id %>/?_method=PUT">
                    <article style="display: flex; justify-content: center; flex-direction: column; border: 1px solid black; text-align: center;">
                        <div style="text-align: center; display: flex; flex-direction: row; flex-wrap: wrap; margin: 10px auto; justify-content:center; width: 10vw;">
                            <label for="name"><%= product.name %></label>
                            <input type="text" id="name" name="name" value="<%= product.name %>" required placeholder="<%= product.name %>">
                            
                        </div>
                        <div style="text-align: center; display: flex; flex-direction: row; flex-wrap: wrap; margin: 10px auto; justify-content:center; width: 10vw;">
                            <label for="price"><%= product.price %></label>
                            <input type="number" id="price" name="price" value="<%= product.price %>" required placeholder="<%= product.price %>">
                        </div>
                        <div style="text-align: center; display: flex; flex-direction: row; flex-wrap: wrap; margin: 10px auto; justify-content:center; width: 10vw;">
                            <label for="category"><%= product.category %></label>
                            <select <%= locals.errors && errors.category ? 'is-invalid' : null%> name="category" id="category" value="<%= product.category %>" required>
                                <option value="" hidden selected>Selecciona la categoría</option>
                              <% categories.forEach(category => { %>
                                <option <%= locals.old && old.category && +old.category === +category.id ? 'selected' : null %>  value="<%= category.id %>"><%= category.name %></option>
                              <% }) %>
                            </select>
                            <span><%= locals.errors && errors.category ? errors.category.msg : null%></span>
                        </div>                
                </article>

                <div>
                    <button type="submit">Guardar</button>
                    
                    <button type="reset">Limpiar</button>
                </div>
                    
                        
                </form>
            </div>
            
        </section>
    </main>

    
    <%- include('./partials/footer') %>

</body>
</html>
