<!DOCTYPE html>
<html lang="es">

    <%- include('./partials/head') %>

<body>
    
    <%- include('./partials/header') %>
    
<main>

    <nav class="detail-nav">
        <h2>PRODUCTO</h2>
        <article> 
            <a class="navegacion" href="/">Inicio</a>
            <a class="navegacion" href="/products">Productos</a>
            <p class="navegacion"><%= product.name %></p>
        </article> 

        <% if (locals.userLogin && locals.userLogin.rol === 'admin') { %> 
        <article>
            <a href="/products/productAdd" style="margin-left: 2vw; color: var(--marron);">
                <i class="fa-solid fa-circle-plus fa-2x"></i>
            </a>  
            <a href="/products/productEdit/<%= product.id %>" style="margin-left: 2vw; color: var(--marron);">
                <i class="fa-solid fa-pen-to-square fa-2x"></i>
            </a>  
            <form action="/products/productDetail/remove/<%= product.id %>?_method=DELETE" method="POST">
                <button type="submit">
                    <i class="fas fa-trash-alt fa-2x"></i>
                </button>
            </form>
        </article>
        <% } %>
    </nav>

    <section class="detail-conjunto">
        
            <article class="detail-producto"> 
                <h2><%= product.name %></h2>
                <div>
                    <img src="/images/Alimento-balanceado/<%= product.image %>" alt="">
                </div>
            </article>
            <article class="detail-detalle">
                <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Repellat numquam rerum perferendis iure consequuntur. Explicabo autem quaerat eveniet eligendi, ex officiis culpa corrupti quod ullam repellat tenetur velit perspiciatis aspernatur! Lorem ipsum dolor sit, amet consectetur adipisicing elit. Cumque nihil eius sequi deserunt quas corrupti ea velit perspiciatis, voluptate ab totam aut molestias voluptatibus placeat quaerat id? Aspernatur, ipsa enim. Lorem ipsum dolor sit amet consectetur adipisicing elit. Quae repellendus perspiciatis, dignissimos consequatur eos officia labore quidem minus fugit ipsa iusto consectetur, similique et? Delectus quibusdam modi qui expedita. Aliquam! Lorem ipsum dolor sit amet consectetur adipisicing elit. Sed laboriosam numquam alias totam ipsum, quod cum a explicabo magni maiores earum esse minus fuga molestias velit. Veritatis ut architecto non.</p>
                <h3><%= product.price %></h3>
                <form action="">
                    <a href="/products/productCart"><input type="submit" value="Agregar al carrito"></a>
                </form>
            </article>
        
    </section>  

</main>
    
    <%- include('./partials/footer') %>

</body>
</html>