<!DOCTYPE html>
<html lang="es">

    <%- include('../partials/head',{
        title : 'Editar perfil'
    })  %> 


<body class="home-body">

    <%- include('../partials/header') %>

<main class="productEdit">
    
    <section>
        <h2>Editar perfil : <%= users.name %></h2>

        <% if (locals.userLogin) { %>
        <div class="profileEdit__form">
            <form method="POST" action="/users/update-profile/<%= users.id %>/?_method=PUT" enctype="multipart/form-data">
                <article>
                    <div>
                        <label for="name">Nombre: </label>
                        <input type="text" id="name" name="name" value="<%= locals.old && old.name ? old.name : null %>" required placeholder="<%= users.name %>" >
                    </div>
                    <div>
                        <label for="last_name">Apellido: </label>
                        <input type="text" id="last_name" name="last_name" value="<%= locals.old && old.last_name ? old.last_name : null %>" required placeholder="<%= users.last_name %>" >
                    </div>
                    <div>
                        <label for="email">Email: </label>
                        <input type="text" id="email" name="email" value="<%= locals.old && old.email ? old.email : null %>" required placeholder="<%= users.email %>" >
                    </div>
                    <div class="imagePreview">
                        <img src="/images/avatars/<%= users.avatar %>" alt="">
                    </div>
                    <div>
                        <label for="avatar">Imagen: <%= users.avatar %></label>
                        <input type="file" id="avatar" name="avatar" accept="avatar/*">
                    </div>             
                    <article class="profileEdit__form__bottons ">
                        <div><button type="reset">Limpiar</button></div>
                        <div><button type="submit">Guardar</button></div>
                    </article>
                </article>    
            </form>
        </div>
        <% } %>
    </section>

</main>
    <%- include('../partials/footer') %>

</body>
</html>
