<!DOCTYPE html>
<html lang="es">

    <%- include('../partials/head') %>

<body>
    
    <%- include('../partials/header') %>
    
<main>

    <h2 class="profile-title"><%= locals.userLogin.rol === "Admin" ? "Perfil de Usuario" : "Perfil de Administrador" %> </h2>

    <section class="profile-conjunto">
        <article class="profile-user"> 
            <h2><%= locals.userLogin.name %></h2>
            <% if (locals.users.avatar === null || undefined) { %>
                <div class="profile-user">
                    <img src="/images/avatars/perro-informatico.png %> " alt="" id="avatar-preview">
                </div>
            <% } else { %>
                <div class="profile-user">
                    <img src="/images/avatars/<%= locals.user.avatar %>" alt="" id="avatar-preview">
                </div>
            <% } %>     
            
            
            <form action="/users/update-profile" enctype="multipart/form-data">
                <label style="cursor: pointer; color: var(--marron);" for="avatar"><i class="fa-solid fa-pen-to-square fa-2x"></i>Editar</label>
                <input type="file" hidden id="avatar" onchange="changeAvatar(event)">
                <script>
                    const changeAvatar = (e) => {
                        let reader = new FileReader();
                        reader.readAsDataURL(e.target.files[0])
                        reader.onload = () => {
                            document.getElementById('avatar-preview').src = reader.result
                        }
                    }
                </script>
            </form>
        </article>
        <article class="profile-info">
            <h2>Información personal</h2>
            <div class="profile-detalle">
                <p>Nombre: <%= user.name %></p>
                <p>Apellido: <%= user.last_name %></p>
                <p>Tu email: <%= user.email %></p>
            </div>
                <article>
                    <a href="/users/edit-profile/<%= locals.userLogin.id %>" style= "color: var(--marron);">
                        <i class="fa-solid fa-user-pen fa-2x"></i>Editar datos del perfil</i>
                    </a>  
                </article>
        </article>
    </section>  
    <% if (locals.userLogin && locals.userLogin.rol === 1) { %>
        <section>
        <div style="display: flex; margin-top: 4vh;">
            <h2 style="background: var(--marron); color: black; width: 50%; text-align: center;color: white; box-shadow: 4px 4px 4px rgba(0, 0, 0, 0.25);border-radius: 35px;margin-bottom: 2vh; font-size: 2vw;">Editar productos</h2> 
            <h2 style="background: var(--azul); color: black; width: 50%; text-align: center;color: white; box-shadow: 4px 4px 4px rgba(0, 0, 0, 0.25);border-radius: 35px;margin-bottom: 2vh; font-size: 2vw;">Editar usuarios</h2> 
        </div>
        <div style="display: flex; flex-direction: row; justify-content: space-around; margin: 2vh auto;">
            <a href="/products/productAdd" style="color: black; background:var(--colores4); padding-left: 1vh; margin-bottom: 1vh;">
                <i class="fa-solid fa-circle-plus"> Agregar productos</i>
            </a> 
            <a href="/users/adminAdd" style="color: black; background:var(--colores4); padding-left: 1vh; margin-bottom: 1vh;">
                <i class="fa-solid fa-circle-plus"> Agregar administrador</i>
            </a> 
        </div>     
        <section class="profile-table-prod">    
            <table class="table table-sm table-bordered table-hover table-striped w-25 table-responsive" id="profile-table-products">
                <thead>
                  <tr>
                    <th scope="col">ID</th>
                    <th scope="col">Título</th>
                    <th scope="col">Precio</th>
                    <th scope="col">Stock</th>
                  </tr>
                </thead>
                <% products.forEach(({id, title, price, quantity})=> { %>   
                <tbody>
                  <tr>
                    <td><%= id %></td>
                    <td><%= title %></td>
                    <td>$<%= price %></td>
                    <td><%= quantity %></td>
                  </tr>
                </tbody>
                <% }) %>  
              </table>   
              <table class="table table-sm table-bordered table-hover table-striped w-25 table-responsive" id="profile-table-users">
                <thead>
                  <tr>
                    <th scope="col">ID</th>
                    <th scope="col">Nombre</th>
                    <th scope="col">Rol</th>
                  </tr>
                </thead>
                <% users.forEach(({id, name, rols})=> { %>   
                <tbody>
                  <tr>
                    <td><%= id %></td>
                    <td><%= name %></td>
                    <td><%= rols.title %></td>
                  </tr>
                </tbody>
                <% }) %>  
              </table>   
        </section>
        <div class="profile-toEdit">
            <a href="/products/tableList" style="color: black; background: var(--marron);margin-bottom: 2vh;">Ver todos los productos</a>
            <a href="/users/list" style="color: black; background: var(--azul); margin-bottom: 2vh;">Ver todos los usuarios</a> 
        </div>
    </section>
         
            <% } %>     
</main>

    <%- include('../partials/footer') %>

</body>
</html>