<!DOCTYPE html>
<html lang="es">

    <%- include('../partials/head') %>

<body>
    
    <%- include('../partials/header') %>
    
<main>

    <h2 class="profile-title"><%= locals.userLogin.rol == "Admin" ? "Perfil de Usuario" : "Perfil de Administrador" %> </h2>

    <section class="profile-conjunto">
        <article class="profile-user"> 
            <h2><%= locals.userLogin.name %></h2>
            <% if (locals.userLogin.avatar === 'null' || 'undefined') { %>
                <div>
                    <img src="/images/avatars/perro-informatico.png %>" alt="" id="avatar-preview">
                </div>
            <% } else { %>
                <div>
                    <img src="/images/avatars/<%= locals.userLogin.avatar.name %> " alt="" id="avatar-preview">
                </div>
            <% } %>           
            
            <form action="/users/update-profile" enctype="multipart/form-data">
                <label style="cursor: pointer; color: var(--marron);" for="avatar"><i class="fa-solid fa-pen-to-square fa-2x"></i>Editar</label>
                <input type="file" hidden id="avatar" onchange="changeAvatar(event)">
                <script>
                    const changeAvatar = (e) => {
                        let reader = new FileReader();
                        reader.readAsDataURL(e.target.files[0])
                        reader.onload = () => {
                            document.getElementById('avatar-preview').src = reader.result
                        }
                    }
                </script>
            </form>
        </article>
        <article class="profile-info">
            <h2>Información personal</h2>
            <div class="profile-detalle">
                <p>Nombre: <%= users.name %></p>
                <p> Apellido: <%= users.last_name %></p>
                <p>Tu email: <%= users.email %></p>
            </div>
                <article>
                    <a href="/users/edit-profile/<%= locals.userLogin.id %>" style="margin-left: 2vw; color: var(--marron);">
                        <i class="fa-solid fa-pen-to-square">Editar datos del perfil</i>
                    </a>  
                </article>

                <p></p>

        </article>
    </section>  
  

</main>
    
    <%- include('../partials/footer') %>

</body>
</html>