<!DOCTYPE html>
<html lang="es">

    <%- include('../partials/head') %>

<body>
    
    <%- include('../partials/header') %>
    
<main>

    <h2 class="profile-title"><%= locals.userLogin.rol === "Admin" ? "Perfil de Usuario" : "Perfil de Administrador" %> </h2>

    <section class="profile-conjunto">
        <article class="profile-user"> 
            <h2><%= locals.userLogin.name %></h2>
            <% if (locals.users.avatar === null || undefined) { %>
                <div class="profile-user">
                    <img src="/images/avatars/perro-informatico.png %> " alt="" id="avatar-preview">
                </div>
            <% } else { %>
                <div class="profile-user">
                    <img src="/images/avatars/<%= locals.user.avatar %>" alt="" id="avatar-preview">
                </div>
            <% } %>     
            
            
            <form action="/users/update-profile" enctype="multipart/form-data">
                <label style="cursor: pointer; color: var(--marron);" for="avatar"><i class="fa-solid fa-pen-to-square fa-2x"></i>Editar</label>
                <input type="file" hidden id="avatar" onchange="changeAvatar(event)">
                <script>
                    const changeAvatar = (e) => {
                        let reader = new FileReader();
                        reader.readAsDataURL(e.target.files[0])
                        reader.onload = () => {
                            document.getElementById('avatar-preview').src = reader.result
                        }
                    }
                </script>
            </form>
        </article>
        <article class="profile-info">
            <h2>Información personal</h2>
            <div class="profile-detalle">
                <p>Nombre: <%= user.name %></p>
                <p>Apellido: <%= user.last_name %></p>
                <p>Tu email: <%= user.email %></p>
            </div>
                <article>
                    <a href="/users/edit-profile/<%= locals.userLogin.id %>" style="margin: 0 auto; padding: 0 auto; color: var(--marron);">
                        <i class="fa-solid fa-user-pen fa-2x"></i>Editar datos del perfil</i>
                    </a>  
                </article>
        </article>
    </section>  
    <% if (locals.userLogin && locals.userLogin.rol === 1) { %>
        <section>
            <h2 style="background: var(--marron); margin-top: 5vh;">Editar productos</h2> 
            <article style="display: flex; flex-direction: column;">
                <a href="/products/productAdd" style="color: white; background:var(--colores4); display: flex; justify-content:center; align-items: center;max-width: 15vw;height:4vh ; margin: 2vh auto;">
                    <i class="fa-solid fa-circle-plus">Agregar productos</i>
                </a>  
                <table class="table caption-top table-striped table-hover w-50">
                    <thead class="table-dark">
                      <tr>
                        <th scope="col">ID</th>
                        <th scope="col">Titulo</th>
                        <th scope="col">Precio</th>
                        <th scope="col">Funciones</th>
                      </tr>
                    </thead>
                    <% products.forEach(({id, title, price}) => { %>
                    <tbody>
                      <tr>
                        <td><%= id %></td>
                        <td><%= title %></td>
                        <td>$<%= price %></td>
                        <td>
                            <a href="/products/productAdd" style="color: var(--amarillo);">
                            <i class="fa-solid fa-circle-plus fa-2x"></i>
                            </a>
                            <a href="/products/productEdit/<%= id %>" style="color: var(--marron);">
                                <i class="fa-solid fa-pen-to-square fa-2x"></i>
                            </a>  
                            <a href="" style="display: flex;">
                                <form action="/products/productDetail/remove/<%= id %>?_method=DELETE" method="POST">
                                <button type="submit">
                                    <i class="fas fa-trash-alt fa-2x"></i>
                                </button>
                                </form>
                            </a>
                        </td>
                      </tr>
                    </tbody>
                    <% }) %>
                  </table>
                  <a href="/products">Ver todos los productos</a>
                </article>
            </section>
            <section>
                <article>
                    <!-- <h2 style="background: var(--marron); margin-top: 5vh;">Editar usuarios</h2>    -->         
                <table class="table caption-top table-striped table-hover w-50">
                    <thead class="table-dark">
                      <tr>
                        <th scope="col">ID</th>
                        <th scope="col">Nombre</th>
                        <th scope="col">Rol</th>
                        <th scope="col">Funciones</th>
                      </tr>
                    </thead>
                    <% users.forEach(({id, name, rols}) => { %>
                    <tbody>
                      <tr>
                        <td><%= id %></td>
                        <td><%= name %></td>
                        <td><%= rols.title %></td>
                        <td>
                            <a href="/products/productAdd" style="color: var(--amarillo);">
                                <i class="fa-solid fa-circle-plus fa-2x"></i>
                            </a>
                            <a href="/users/edit-Profile/<%= id %>" style="color: var(--marron);">
                                <i class="fa-solid fa-pen-to-square fa-2x"></i>
                            </a>  
                            <a href="" style="display: flex;">
                                <form action="/products/productDetail/remove/<%= id %>?_method=DELETE" method="POST">
                                    <button type="submit">
                                        <i class="fas fa-trash-alt fa-2x"></i>
                                    </button>
                                </form>
                            </a>
                        </td>
                      </tr>
                    </tbody>
                    <% }) %>
                  </table>
                  <a href="/products">Ver todos los usuarios</a>
                </article>
        </section>
            <% } %>     
</main>

    <%- include('../partials/footer') %>

</body>
</html>