<!DOCTYPE html>
<html lang="es">

    <%- include('../partials/head') %>

<body>
    
    <%- include('../partials/header') %>
    
<main>

    <h2 class="profile-title"><%= locals.userLogin.rol === "Admin" ? "Perfil de Usuario" : "Perfil de Administrador" %> </h2>

    <section class="profile-conjunto">
        <article class="profile-user"> 
            <h2><%= locals.userLogin.name %></h2>
            <% if (locals.userLogin.avatar === 'null' || 'undefined') { %>
                <div>
                    <img src="/images/avatars/perro-informatico.png" alt="" id="avatar-preview">
                </div>
            <% } else { %>
                <div>
                    <img src="/images/avatars/<%= locals.userLogin.avatar.name %>" alt="" id="avatar-preview">
                </div>
            <% } %>     
            
            
            <form action="/users/update-profile" enctype="multipart/form-data">
                <label style="cursor: pointer; color: var(--marron);" for="avatar"><i class="fa-solid fa-pen-to-square fa-2x"></i>Editar</label>
                <input type="file" hidden id="avatar" onchange="changeAvatar(event)">
                <script>
                    const changeAvatar = (e) => {
                        let reader = new FileReader();
                        reader.readAsDataURL(e.target.files[0])
                        reader.onload = () => {
                            document.getElementById('avatar-preview').src = reader.result
                        }
                    }
                </script>
            </form>
        </article>
        <article class="profile-info">
            <h2>Información personal</h2>
            <div class="profile-detalle">
                <p>Nombre: <%= locals.userLogin.name %></p>
                <p>Tu email: <%= locals.userLogin.email %></p>
                <p>Mascota: firulais </p>
            </div>
                <article>
                    <a href="/users/edit-profile/<%= locals.userLogin.id %>" style="margin: 0 auto; padding: 0 auto; color: var(--marron);">
                        <i class="fa-solid fa-user-pen fa-2x"></i>Editar datos del perfil</i>
                    </a>  
                </article>
        </article>
    </section>  
    <% if (locals.userLogin && locals.userLogin.rol === 1) { %>
        <section class="profile-conjunto">
            <article class="profile-user">
                <h2 style="background: var(--marron); margin-top: 5vh;">Editar productos</h2>
                <ul class="list-group list-group-horizontal w-75" style="border: 1px solid black">
                    <li class="list-group-item w-100" style="border: 1px solid black; background:var(--colores4);">ID</li>
                    <li class="list-group-item w-100" style="border: 1px solid black; background:var(--colores4);">Titulo</li>
                    <li class="list-group-item w-100" style="border: 1px solid black; background:var(--colores4);">Precio</li>
                  </ul>
                <% products.forEach(({id, title, price}) => { %>
                  <ul class="list-group list-group-horizontal-sm w-75" >
                    <li class="list-group-item w-100" style="border: 1px solid black"><%= id %></li>
                    <li class="list-group-item w-100" style="border: 1px solid black"><%= title %></li>
                    <li class="list-group-item w-100" style="border: 1px solid black">$<%= price %></li>
                  </ul>
                <% }) %>
            </article>
            <article class="profile-info">
                <div class="profile-user">
                    <h2 style="background: var(--azul); margin-top: 5vh;">Editar usuarios</h2>
                        <ul class="list-group list-group-horizontal w-75" style="border: 1px solid black;">
                            <li class="list-group-item w-100" style="border: 1px solid black; background:var(--colores4);">ID</li>
                            <li class="list-group-item w-100" style="border: 1px solid black; background:var(--colores4);">Nombre</li>
                            <li class="list-group-item w-100" style="border: 1px solid black; background:var(--colores4);">Rol</li>
                        </ul>
                <% users.forEach(({id, name, id_rol, rols}) => { %>
                        <ul class="list-group list-group-horizontal-sm w-75">
                            <li class="list-group-item w-100" style="border: 1px solid black"><%= id %></li>
                            <li class="list-group-item w-100" style="border: 1px solid black"><%= name %></li>
                            <li class="list-group-item w-100" style="border: 1px solid black"><%= id_rol = rols.title %></li>
                        </ul>
                      
                <% }) %>
                </div>
            </article>
        </section>
            <% } %>     
</main>

    <%- include('../partials/footer') %>

</body>
</html>