<!DOCTYPE html>
<html lang="es">

    <%- include('../partials/head', {
        title : 'Register'
    }) %>

<body class="home-body">

    <%- include('../partials/header') %>

<main class="register-main"> 
    <nav>
        <div>
        <form class="register_form" method="POST" action="">
            <h2>Registrarse</h2>
            <div>
                <input class="register_datos <%= locals.name && errors.name ? 'is-invalid' : null %>" type="text" id="name" name="name" placeholder="Nombre" value="<%= locals.old && old.name ? old.name : null %>" autofocus>
                <span class="form-errors"><%= locals.errors && errors.name ? errors.name.msg : null %></span>
                <small class="front-errors" id="small__register-name"></small>
            </div>
            <div>
                <input class="register_datos <%= locals.last_name && errors.last_name ? 'is-invalid' : null %>" type="text" id="last_name" name="last_name" placeholder="Apellido" value="<%= locals.old && old.last_name ? old.last_name : null %>">
                <span class="form-errors"><%= locals.errors && errors.last_name ? errors.last_name.msg: null %></span>
                <small class="front-errors" id="small__register-last_name"></small>
            </div>
            <div>
                <input class="register_datos <%= locals.errors && errors.email ? 'is-invalid' : null %>" type="email" id="email" name="email" placeholder="E-mail" value="<%= locals.old && old.email ? old.email : null %>">
                <span class="form-errors"><%= locals.errors && errors.email ? errors.email.msg : null %></span>
                <small class="front-errors" id="small__register-email"></small>
            </div>
            <div>
                <input class="register_datos <%= locals.errors && errors.password ? 'is-invalid' : null %>" type="password" id="password" name="password" placeholder="Contraseña" value="<%= locals.old && old.password ? old.password : null %>">
                <span class="form-errors"><%= locals.errors && errors.password ? errors.password.msg : null %></span>
                <small class="front-errors" id="small__register-password"></small>
            </div>
            <div>
                <input class="register_datos <%= locals.errors && errors.password2 ? 'is-invalid' : null %>" type="password" id="password2" name="password2" placeholder="Confirmar contraseña" value="<%= locals.old && old.password2 ? old.password2 : null %>">
                <span class="form-errors"><%= locals.errors && errors.password2 ? errors.password2.msg : null %></span>
                <small class="front-errors" id="small__register-password2"></small>
            </div>
            <div>
                <label class="register_terminos" for="terminos"><a href="/products/terms">Términos y condiciones</a></label>
                <input type="checkbox" name="terminos" id="terminos">
                <span class="form-errors"><%= locals.errors && errors.terminos ? errors.terminos.msg : null %></span>
                <small class="front-errors" id="small__register-terms"></small>
            </div>
            <div>
                <strong class="front-errors-global"></strong>
            </div>
            <div class="register-boton">
                <input class="bottons" name="register-button" type="submit" value="Registrarse"> 
            </div>
            <div>
                <a class="register-yateng" href="login">¿Ya tengo cuenta?</a>
            </div>
        </form>
    </div>
    </nav>
  
</main>  

    <%- include('../partials/footer') %>
    <script src="/javascript/validations/register.js"></script>
</body>
</html>