<!DOCTYPE html>
<html lang="es">

    <%- include('../partials/head', {
        title : 'Register'
    }) %>

<body class="home-body">

    <%- include('../partials/header') %>

<main class="register-main"> 
    <nav>
        <div>
        <form class="register_form" method="POST" action="" enctype="multipart/form-data" >
            <h2>Registrarse</h2>
            <div>
                <input class="register_datos <%= locals.name && errores.name ? 'is-invalid' : null %>" type="text" id="name" name="name" placeholder="Nombre" value="<%= locals.old && old.name ? old.name : null %>">
                <span class="form-errors"><%= locals.errores && errores.name ? errores.name.msg : null %></span>
            </div>
            <div>
                <input class="register_datos <%= locals.last_name && errores.last_name ? 'is-invalid' : null %>" type="text" id="last_name" name="last_name" placeholder="Apellido" value="<%= locals.old && old.last_name ? old.last_name : null %>">
                <span class="form-errors"><%= locals.errores && errores.last_name ? errores.last_name.msg: null %></span>
            </div>
            <div>
                <input class="register_datos <%= locals.errores && errores.email ? 'is-invalid' : null %>" type="email" id="email" name="email" placeholder="E-mail" value="<%= locals.old && old.email ? old.email : null %>">
                <span class="form-errors"><%= locals.errores && errores.email ? errores.email.msg : null %></span>
            </div>
            <div>
                <input class="register_datos <%= locals.errores && errores.password ? 'is-invalid' : null %>" type="password" id="password" name="password" placeholder="Contraseña" value="<%= locals.old && old.password ? old.password : null %>">
                <span class="form-errors"><%= locals.errores && errores.password ? errores.password.msg : null %></span>
            </div>
            <div>
                <input class="register_datos <%= locals.errores && errores.password2 ? 'is-invalid' : null %>" type="password" id="password2" name="password2" placeholder="Confirmar contraseña" value="<%= locals.old && old.password2 ? old.password2 : null %>">
                <span class="form-errors"><%= locals.errores && errores.password2 ? errores.password2.msg : null %></span>
            </div>
            <div>
                <input class="register_datos" type="file" id="avatar" name="avatar" accept="image/*">
            </div>
            <div>
                <input type="checkbox" name="terminos" id="terminos">
            <label class="register_terminos" for="terminos"><a href="/products/terms">Términos y condiciones</a></label>
            <span class="form-errors"><%= locals.errores && errores.terminos ? errores.terminos.msg : null %></span>
            </div>
            <div class="register-boton">
                <input class="bottons" name="register-button" type="submit" value="Registrar"> 
            </div>
            <div>
                <a class="register-yateng" href="login">¿Ya tengo cuenta?</a>
            </div>
        </form>
    </div>
    </nav>
  
    
</main>  

    <%- include('../partials/footer') %>

</body>
</html>