<!DOCTYPE html>
<html lang="es">

    <%- include('../partials/head', {
        title : 'Register'
    }) %>

<body class="home-body">

    <%- include('../partials/header') %>

<main> 
    <div>

        <!-- incompleto -->

        <form class="register_form" method="POST" action="" enctype="multipart/form-data" >
            <h2>Registrarse</h2>
            <div>
                <input class="register_datos <%= locals.name && errores.name ? 'is-invalid' : null %>" type="text" id="name" name="name" placeholder="Nombre completo" value="<%= locals.old && old.name ? old.name : null %>">
                <span class="form-errors"><%= locals.errores && errores.name ? errores.name.msg : null %></span>
            </div>
            <div>
                <input class="register_datos <%= locals.errores && errores.email ? 'is-invalid' : null %>" type="email" id="email" name="email" placeholder="E-mail" value="<%= locals.old && old.email ? old.email : null %>">
                <span class="form-errors"><%= locals.errores && errores.email ? errores.email.msg : null %></span>
            </div>
            <div>
                <input class="register_datos <%= locals.errores && errores.password ? 'is-invalid' : null %>" type="password" id="password" name="password" placeholder="Contraseña" value="<%= locals.old && old.password ? old.password : null %>">
                <span class="form-errors"><%= locals.errores && errores.password ? errores.password.msg : null %></span>
            </div>
            <div>
                <input class="register_datos <%= locals.errores && errores.password2 ? 'is-invalid' : null %>" type="password" id="password2" name="password2" placeholder="Confirmar contraseña" value="<%= locals.old && old.password2 ? old.password2 : null %>">
                <span class="form-errors"><%= locals.errores && errores.password2 ? errores.password2.msg : null %></span>
            </div>
            <div>
                <input class="register_datos" type="file" id="avatar" name="avatar" accept="image/*">
            </div>
            <div>
                <input type="checkbox" name="terminos" id="terminos">
            <label for="terminos"><a href="/users/profile">Términos y condiciones</a></label>
            <span class="form-errors"><%= locals.errores && errores.terminos ? errores.terminos.msg : null %></span>

            </div>
            <div>
                <input class="bottons" type="submit" value="Registrar">
                <p><a href="login">¿Ya tengo cuenta?</p></a>
            </div>
        </form>
    </div>
  
    
</main>  

    <%- include('../partials/footer') %>

</body>
</html>