<!DOCTYPE html>
<html lang="es">

    <%- include('../partials/head', {
        title : 'Register'
    }) %>

<body class="home-body">

    <%- include('../partials/header') %>

<main> 
    <div>

        <!-- incompleto -->

        <form class="register_form" method="POST" action="" enctype="multipart/form-data">
            <h2>Registrarse</h2>
            <div>
                <input class="register_datos" type="text" id="name" name="name" placeholder="Nombre completo" value="<%= locals.old && old.nombre ? old.nombre : null %>">    
            </div>
            <div>
                <input class="register_datos" type="email" id="email" name="email" placeholder="E-mail">
                <span class=""><%= locals.errores && errores.email ? errores.email.msg : null %></span>
            </div>
            <div>
                <input class="register_datos" type="password" id="password" name="password" placeholder="Contraseña">
                <span class=""><%= locals.errores && errores.password ? errores.password.msg : null %></span>
            </div>
            <div>
                <input class="register_datos" type="password" id="password2" name="password2" placeholder="Confirmar contraseña">
                <span class=""><%= locals.errores && errores.password2 ? errores.password2.msg : null %></span>
            </div>
            <div>
                <input class="register_datos" type="file" id="avatar" name="avatar" accept="image/*">
            </div>
            <div>
                <a href=""> Términos y condiciones</a>
            </div>
            <div>
                <input class="bottons" type="submit" value="Registrar">
                <p><a href="login">¿Ya tengo cuenta?</p></a>
            </div>
        </form>
    </div>
  
    
</main>  

    <%- include('../partials/footer') %>

</body>
</html>