<!DOCTYPE html>
<html lang="es">

    <%- include('../partials/head') %>

<body>
    
    <%- include('../partials/header') %>
    
<main>

    <h2 class="profile-title">Vista global de edición de usuarios</h2>
    <div style="display: flex; flex-direction: row; justify-content: space-around;">
        <a href="/users/profile" style="color: black; background:var(--colores4); padding-left: 1vh; margin-bottom: 1vh;">
            <i class="fa-solid fa-circle-left"> Volver al perfil</i>
        </a> 
        <a href="/users/adminAdd" style="color: black; background:var(--colores4); padding-left: 1vh; margin-bottom: 1vh;">
            <i class="fa-solid fa-circle-plus"> Agregar administrador</i>
        </a> 
        <a href="/products/tablelist" style="color: black; background:var(--colores4); padding-left: 1vh;  margin-bottom: 1vh;">
            <i class="fa-solid fa-circle-right"> Editar productos</i>
        </a> 
    </div>  
        <table class="table caption-top table-striped table-hover table-bordered">
                <thead class="table" style="background: var(--azul);">
                    <tr style="text-align: center;">
                    <th scope="col">ID</th>
                    <th scope="col">Nombre</th>
                    <th scope="col">Rol</th>
                    <th scope="col">Funciones</th>
                    </tr>
                </thead>
                <% user.forEach(({id, name, rols}) => { %>
                <tbody>
                    <tr style="text-align: center;">
                    <td><%= id %></td>
                    <td><%= name %></td>
                    <td><%= rols.title %></td>
                    <td style="display: flex; justify-content: space-around; align-items: center;">
                        <a href="/users/edit-Profile/<%= id %>" style="color: var(--marron);">
                            <i class="fa-solid fa-pen-to-square fa-2x"></i>
                        </a>  
                        <a href="" style="display: flex;">
                            <form action="/users/productDetail/remove/<%= id %>?_method=DELETE" method="POST">
                                <button type="submit" style="border: none;">
                                    <i class="fas fa-trash-alt fa-2x"></i>
                                </button>
                            </form>
                        </a>
                    </td>
                    </tr>
                </tbody>
                <% }) %>
                </table>                    
        </section>        
</main>

    <%- include('../partials/footer') %>

</body>
</html>